.h2-agenda {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 2ren;
}
.p-agenda {
  font-size: 1.6rem;
  padding: 1rem 0;
  line-height: 1.5;
  color: var(--black);
}

.tabela-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2rem;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.tabela thead {
  background: var(--primary-color);
  color: #fff;
}

.tabela th,
.tabela td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 1.8rem;
}

.tabela tr:hover {
  background: var(--main-color);
}

/* BADGES */
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.badge-yellow {
  background: #FFF7CC;
  color: #A68B00;
}

.badge-green {
  background: #CCF5D1;
  color: #0F8C2A;
}

.badge-red {
  background: #FFD1D1;
  color: #A30000;
}

.badge-blue {
  background: #DDE7FF;
  color: #0C1744;
}

.badge-gray {
  background: #E5E5E5;
  color: #555;
}

/* AÇÕES */
.acoes {
  display: flex;
  gap: 8px;
}

.button {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
}

.button.confirmar {
  background: #1A234E;
}

.button.confirmar:hover {
  background: #0C1744;
}

.button.cancelar {
  background: #7D3CFF;
}

.button.cancelar:hover {
  opacity: 0.85;
}