.h2-agenda {
    font-size: 2rem;
    margin-bottom: 2ren;
}
.tabela-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2rem;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.tabela thead {
  background: #0C1744;
  color: #fff;
}

.tabela th,
.tabela td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 1.8rem;
}

.tabela tr:hover {
  background: #f7f7f7;
}

/* BADGES */
.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
}

.badge-yellow { background: #FFF7CC; color: #A68B00; }
.badge-green { background: #CCF5D1; color: #0F8C2A; }
.badge-red { background: #FFD1D1; color: #A30000; }
.badge-blue { background: #DDE7FF; color: #0C1744; }
.badge-gray { background: #E5E5E5; color: #555; }

/* AÇÕES */
.acoes {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: #fff;
  transition: 0.2s;
}

.btn.confirmar {
  background: #1A234E;
}

.btn.confirmar:hover {
  background: #0C1744;
}

.btn.cancelar {
  background: #7D3CFF;
}

.btn.cancelar:hover {
  opacity: 0.85;
}
